.git
.github
.editorconfig
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log
yarn-error.log
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
README.md
test_db.php
